appdirs==1.4.4
argcomplete==3.6.3
bcrypt==5.0.0
charset-normalizer==3.4.7
ecdsa==0.19.2
et_xmlfile==2.0.0
importlib_resources==7.1.0
numpy==2.4.6
openpyxl==3.1.5
pandas==3.0.3
passlib==1.7.4
pdf2image==1.17.0
pillow==12.2.0
psycopg2-binary==2.9.12
pyasn1==0.6.3
PySide6==6.11.1
PySide6_Addons==6.11.1
PySide6_Essentials==6.11.1
python-barcode==0.16.1
python-dateutil==2.9.0.post0
python-escpos==3.1
python-jose==3.5.0
python-multipart==0.0.29
pyusb==1.3.1
PyYAML==6.0.3
qrcode==8.2
reportlab==4.5.1
rsa==4.9.1
secure-smtplib==0.1.1
setuptools==82.0.1
shiboken6==6.11.1
six==1.17.0
SQLAlchemy==2.0.49
typing_extensions==4.15.0
